# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Environment file
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

cache/
